A:active  { color: #CC9900; text-decoration: none }
A:link  { color: #CC9900; text-decoration: none }
A:visited  { color: #CC9966; text-decoration: none }
A:hover  { color: #FFCC33; text-decoration: underline }
.smaller { font-size: 10px }
.larger { font-size: 14px }